.app {
  text-align: center;
}

.app-header {
  height: 30px;
  padding: 20px;
  background-color: #222;
  color: white;
}

.container {
  padding: 5px;
  width: '50%';
}
.app-intro {
  font-size: large;
}
